body {
    background-image: url("../images/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #AAAADD;
    width: 50vw;
    height: 100vh;
    margin: auto;
    font-family: verdana;
    font-size: 2.2vh;
}

#container {
    padding-top: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

button {
    width: 10em;
    padding: 1em;
    border-radius: 2em;
    font-weight: bold;
    background-color: white;
}

button:hover {
    background-color: whitesmoke;
}